<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyBuy</title>
</head>

<body>
    <div>
        <header>
            <a href="/">
                <span>
                    EasyBuy
                </span>
            </a>  
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/allproducts">All products</a></li>
                <li><a href="/submit-product">Add product</a></li>
                <% if(userName){ %>
                    <li><a href="/profile"><%= userName %></a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } else{ %>
                    <li><a href="/signin">Login</a></li>
                <% } %>
            </ul>
        </header>
        <main>
            <%- body -%>
        </main>
        <br/> <br/> <br/>
        </footer>
    </div>
</body>
</html>

