<h1>All products</h1>

<div>
  <% if(products != '') { %> <% products.forEach(function(productItem, index){
  %>
  <a href="/product/<%= productItem._id %>">
    <div>
      <img
        src="/uploads/<%= productItem.image %>"
        alt="<%= productItem.name %>"
      />
    </div>
    <div><%= productItem.name %></div>
  </a>
  <% }) %> <% } else { %>
  <p>No items found.</p>
  <% } %>
</div>
