<div>
  <div>
    <h1>Different collections of goodies</h1>
  </div>
</div>

<section>
  <div>
    <h2>All products</h2>
    <a href="/allproducts">View More</a>
  </div>
  <div>
    <% if(food !='' ) { %> <% food.latest.forEach(function(product, index){ %>
    <a href="/product/<%= product._id %>">
      <div>
        <img
          src="/uploads/<%= product.image %>"
          alt="<%= product.name %>"
          loading="lazy"
        />
      </div>
      <div>
        <h5><%= product.name %></h5>
      </div>
    </a>
    <% }) %> <% } else { %>
    <p>No items found.</p>
    <% } %>
  </div>
</section>
