<form method="POST" action="/validate-reset-token">
  <div>
    <label for="token">Enter the token you received:</label>
    <input type="text" id="token" name="token" required />
  </div>
  <button type="submit">Submit</button>
</form>
