<div>
  <div>
    <div>
      <p
        style="
          text-align: left;
          font-weight: bold;
          margin-bottom: 5px;
          margin-top: 4px;
        "
      >
        Sign In
      </p>

      <% if(infoSubmitObj != '') { %>
      <div role="alert"><%= infoSubmitObj %></div>
      <% } %> <% if(infoErrorsObj != '') { %>
      <div role="alert"><%= infoErrorsObj[0].message %></div>
      <% } %>

      <form method="POST" action="/signin">
        <div>
          <i style="font-size: 1.5rem; margin-right: 0.75rem"></i>
          <div>
            <label for="form3Example3c">Your Email</label>
            <input
              type="email"
              id="form3Example3c"
              name="email"
              autocomplete="off"
            />
          </div>
        </div>

        <div>
          <i style="font-size: 1.5rem; margin-right: 0.75rem"></i>
          <div>
            <label for="form3Example4c">Password</label>
            <input
              type="password"
              id="form3Example4c"
              name="password"
              autocomplete="off"
            />
          </div>
        </div>

        <a href="/forgot-password">Forgot Password?</a>

        <div>
          <button type="submit">Login</button>
        </div>

        <div>
          <label for="form2Example3">
            Don't have an account? <a href="/signup">Sign Up!</a>
          </label>
        </div>

        <div>
          <label> OR </label>
        </div>

        <a href="/auth/google">
          <span>Login with Google</span>
        </a>
      </form>
    </div>
  </div>
</div>
