<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Add product</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Share goodies and spread your business</p>
  </div>
</div>

<div class="row justify-content-center">
  <% if(infoSubmitObj != '') { %>
  <div class="col-8 alert alert-success" role="alert"><%= infoSubmitObj %></div>
  <% } %> <% if(infoErrorsObj != '') { %>
  <div class="col-8 alert alert-danger" role="alert">
    <%= infoErrorsObj[0].message %>
  </div>
  <% } %>

  <div class="col-8">
    <form action="/submit-product" enctype="multipart/form-data" method="POST">
      <div class="row g-3">
        <div class="col-12">
          <label for="name" class="form-label">Product Name</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            required
            autocomplete="off"
          />
        </div>

        <div class="col-12">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="description"
            id="description"
            class="form-control"
            cols="30"
            rows="4"
            required
            autocomplete="off"
          ></textarea>
        </div>

        <div class="col-12">
          <label for="name" class="form-label">Price</label><br />
          <textarea
            name="price"
            id="price"
            class="form-control"
            cols="30"
            rows="1"
            required
            autocomplete="off"
          ></textarea>
        </div>

        <div class="col-12">
          <label for="countInStock" class="form-label">Count in stock</label>
          <textarea
            name="count in stock"
            id="countInStock"
            class="form-control"
            cols="30"
            rows="1"
          ></textarea>
        </div>

        <div class="col-12">
          <label for="category">Select Category</label>
          <select
            class="form-select form-control"
            name="category"
            aria-label="Category"
            required
          >
            <option selected>Select Category</option>
            <option value="Shirts">Shirts</option>
            <option value="Pants">Pants</option>
            <option value="Shoes">Shoes</option>
            <option value="Watches">Watches</option>
            <option value="Hats">Hats</option>
            <option value="Genji">Genji</option>
          </select>
        </div>

        <div class="col-12">
          <label for="image">Product Image</label>
          <input
            type="file"
            class="form-control"
            name="image"
            accept="image/*"
            required
          />
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
