<div>
  <h1>Add product</h1>
  <div>
    <p>Share goodies and spread your business</p>
  </div>
</div>

<div>
  <% if(infoSubmitObj != '') { %>
  <div role="alert"><%= infoSubmitObj %></div>
  <% } %> <% if(infoErrorsObj != '') { %>
  <div role="alert"><%= infoErrorsObj[0].message %></div>
  <% } %>

  <div>
    <form action="/submit-product" enctype="multipart/form-data" method="POST">
      <div>
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" required autocomplete="off" />
      </div>

      <div>
        <label for="description">Description</label>
        <textarea
          name="description"
          id="description"
          cols="30"
          rows="4"
          required
          autocomplete="off"
        ></textarea>
      </div>

      <div>
        <label for="price">Price</label><br />
        <textarea
          name="price"
          id="price"
          cols="30"
          rows="1"
          required
          autocomplete="off"
        ></textarea>
      </div>

      <div>
        <label for="countInStock">Count in stock</label>
        <textarea
          name="count in stock"
          id="countInStock"
          cols="30"
          rows="1"
        ></textarea>
      </div>

      <div>
        <label for="category">Select Category</label>
        <select name="category" aria-label="Category" required>
          <option selected>Select Category</option>
          <option value="Shirts">Shirts</option>
          <option value="Pants">Pants</option>
          <option value="Shoes">Shoes</option>
          <option value="Watches">Watches</option>
          <option value="Hats">Hats</option>
          <option value="Genji">Genji</option>
        </select>
      </div>

      <div>
        <label for="image">Product Image</label>
        <input type="file" name="image" accept="image/*" required />
      </div>

      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
